/* Body Manipulation */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/cartoon-wood.jpg");
    background-color: #CB9C58;
    background-size: 1000px;
    background-repeat: repeat;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 3em;
    background-color: gray;
    width: 100%;
    font-family: sans-serif;
}

h4 {
    position: relative;
    text-align: center;
    font-size: 1em;
    background-color: gray;
    width: 100%;
    font-family: sans-serif;
}

h3 {
    position: relative;
    text-align: center;
    font-size: 2em;
    background-color: gray;
    width: 100%;
    font-family: sans-serif;
}

p {
    margin-top: 25px;
}

p#leftOperandDisplay {
    margin-right: 1px;
    margin-top: 26px;
}

p#rightOperandDisplay {
    margin-left: 2px;
    margin-top: 26px;
}


button {
    background-image: url("/img/button-metal.jpg");
    background-size: 800px;
    background-repeat: no-repeat;
    color: black;
    background-color: #565656;
    text-shadow: 0px 2px 3px rgba(255,255,255,.3);
}

/* Calculator Placement */

#calculatorBody {
    background-image: url("/img/metal-background.jpg");
    background-size: 600px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 20%;
    left: 36%;
    border-radius: 15px;
    border: 12px black solid;
}

/* Output Field Styling */

#calculatorDisplays {
    position: static;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: red;
    font-size: 3em;
    text-align: center;
    word-wrap: break-word;
    border-radius: 15px;  
    font-family: DS-Digital;
}

.displays {
    overflow: scroll;
    background-image: url("/img/display.jpg");
    background-size: 400px;
    box-shadow: 1px 1px 1px rgba(100,0,0,1);
    border-radius: 15px; 
    background-color: gray; 
    height: 90%;
}

#leftOperandDisplayCSS {
    background-image: url("/img/led.png");
    background-size: 102%;
    text-align: right;
    float: left;
    max-width: 44%;
    min-width: 44%
}

#operatorDisplayCSS {
    float: left;
    width: 10%;
    margin-left: 5px;
    font-size: 1.3em;
}

#rightOperandDisplayCSS {
    background-image: url("/img/led.png");
    background-size: 102%;
    text-align: left;
    float: left;
    width: 44%;
}


/* Button Styling */

button {
    width: 100px;
    height: 100px;
    font-size: 3em;
    border-radius: 100px;
    margin: 10px;
    border: ridge;
}

button:active {
   border: inset; 
}

button:focus {
    outline:0;
}