@import 'https://fonts.googleapis.com/css?family=Roboto|Ubuntu';

* {
    /*border: 1px lime solid;*/
}

html, body, main.container {
    height: 100%;
    min-height: 100vh;
}

main.container {
    padding-bottom: 0;
}

body {
    background-color: honeydew;
}

#wrap {
    min-height: 100%;
}

main {
    padding-top: 80px;
    overflow:auto;
    padding-bottom: 150px;
}


a:hover {
    color: #62adec; 
}


/*====================PARALLAX EFFECT======================*/

@media screen and (min-width : 768px) {

    .parallax {
        height: 500px; 
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-perspective: 300px;
        perspective: 300px;
    }

    .parallax__group {
        position: relative;
        height: 500px; 
        height: 100vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .parallax__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .parallax__layer--fore {
        -webkit-transform: translateZ(90px) scale(.7);
        transform: translateZ(90px) scale(.7);
        z-index: 1;
    }


    .parallax__layer--deep {
        -webkit-transform: translateZ(-800px) scale(4);
        transform: translateZ(-800px) scale(4);
        z-index: 2;
    }

    #group3 {
        z-index: 4;
    }

    #group4 {
        z-index: 2; 
    }

}
/*====================FORMATTING FOR WELCOME PAGE======================*/




#welcomePage p {
    margin-top: 0;
}

#welcomePage h3 {
    padding-bottom: 20px;
    margin-top: 0;
    padding-top: 0;
}


body#welcomePage {
    background-color: black;
}

.contentWelcome {
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(240, 255, 240, .7);
    padding: 30px;
    height: 100vh;
    background-repeat: no-repeat;
    display: block;
    margin-top: 100px;
    border-radius: 10px;
    position: relative;
}


.coverDiv {
    background-color: honeydew;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#portraitDiv {
    padding: 0;
    margin: 0;
    width: 60%;
    background-color: rgba(240, 255, 240, 1);
    display: inline-block;
    margin-top: 80px;
}

.aka {
    font-size: .4em;
    display: block;
    padding-top: 0px;
}

.arrow-down {
    position: absolute; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    /*margin-top: 40px;*/
    bottom: 4px;
    left: 50%;
    right: 50%;
}

#welcomePageBody {
    position: relative;
    height: 150%;
    width: 100vw;
}

#welcomePage p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


#welcomePageTitle {
    color: white;
    font-size: 4em;
    font-family: 'Garamond', sans-serif;
    font-weight: 500;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #B53A95;
    padding: 20px;
    margin: 0;
}


.welcomeSection {
    /*color: honeydew;*/
    margin-bottom: 80px;
    background-color: rgba(240, 255, 240, .7);
    padding: 10px;
}

/* WELCOME PAGE IMAGES */

#me_pic {
    position: relative;
    opacity: 1;
    width: 40%;
    float: left;
    border: 3px rgba(240, 255, 240, .5) solid;
    border-radius: 8px;
    margin-right: 30px;
}

#piano_pic {
    position: relative;
    opacity: 1;
    width: 50%;
    clear: both;
    border: 3px rgba(240, 255, 240, .5) solid;
    border-radius: 8px;
    top: 25px;

}

#keyboard_pic {
    position: relative;
    opacity: 1;
    width: 40%;
    float: left;
    clear: both;
    border: 3px rgba(240, 255, 240, .5) solid;
    border-radius: 8px;
    margin-right: 30px;

}

.quote1 {
    padding-top: 150px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500; 
}

.quote2 {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.quote3 {
    font-size: 5em;
    margin-top: 0;
    padding-top: 0;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

p {
    padding: 0 0 5px 0;
    font-size: 1.1em;
}

.row img {
    height: 300px;
    display:block;
    margin: auto;
    padding-bottom: 10px;
}
@-webkit-keyframes expand_move {
    0%   {}
    50% {font-size: 1.1em;}
    100% {}
}


#aardvark {
    position: static;
    width: 100%;
    height: 100%;

}



.navbar {
    font-family: Tahoma, Helvetica;
    position: ;
    padding-top: 0;
    margin: 0;
    letter-spacing: 5px;
}

#myname{
    padding-top: 10px
    padding-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #222;
    padding-bottom: 40px;
    position: relative;
    clear: both;
    padding-top: 20px;
}




#copyright {
    /*position: relative;*/
    text-align: center;
    color: white;
    /*font-size: .5em*/
    font-family: times;
    height: 4em;
    line-height: 4em;
    /*top: 10px;*/
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    /*-webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;*/
}

a img {
    z-index: 0;
    width: 100%;
}

.description_mover {
    background-color: rgba(25,25,25,.7);
    color: honeydew;
    z-index: 1;
    display: inline-block;
    width: 100%;
    margin: 0%;
    position: relative;
    left: 50%;
    top: -50%;
    -webkit-transform: translateY(-104%) translateX(-50%);
    font-size: 2em;
    padding: 10px;
}

.hover-fade {
    opacity: 0;
    background-color: rgba(25,25,25,.7); 
    height: 300px;
    width: 400px;
    padding: 10px; 
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;

    -webkit-transition: all .5s ease-out;
   -moz-transition: all .5s ease-out;
   -o-transition: all .5s ease-out;
   -ms-transition: all .5s ease-out;
   transition: all .5s ease-out;
}



.hover-fade:hover {
    opacity:1;  /* make things invisible upon start */

}

.placeholder_site {
    background-image: url("/img/cool_background.jpg");
    position: relative;
    width: 400px;
    height: 300px;
    margin: 10px auto; 
    color: honeydew;
}

.placeholder_site1 {
    background-image: url("/img/cool_background.jpg");
}

.placeholder_site2 {
    background-image: url("/img/cool_background.jpg");
}


.placeholder_site3 {
    background-image: url("/img/cool_background.jpg");
}


.placeholder_site4 {
    background-image: url("/img/cool_background.jpg");
}

 
.placeholder_site h4 {

}

.content_body {
    width: 70%;
    background-color: rgba(26, 26, 26, .7);
    color: #dddddd;
}


/* CUSTOM CODE FOR FONT ANIMATION FROM https://css-tricks.com/myth-busting-css-animations-vs-javascript/ */

#customFontAnimation {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #333;
  text-align: center;
}
#demo {

  text-align: center;
  margin-top: 170px;
}
#bg {
    position:relative;
    overflow:hidden;
    display:inline-block;
    width:100%;
    height:100px;
    border-radius: 8px;
}   
#text {
    position:absolute;
    text-align:center;
    width:100%;
    height:70px;
    line-height:68px;
    font-size: 2.5em;
}       
#text span {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing:antialiased;
    position:relative;
    display:inline-block;

}    
#slider {
  display: inline-block;
      width: 500px;
      height:12px;
      margin:8px 0px 8px 6px;   
}
#controls button {
  width: 80px;
}
#controls input {
      display: inline;
      padding: 2px;
      margin: 2px;
}


/*====================FORMATTING FOR RESUME PAGE======================*/

body.resumePage img {
    height: 100%;
    min-width: 100%;
    position: fixed;
    padding: none;
}

#resume h6, h5, h4 {
    float: right;
    position: relative;
    bottom: 19px;
    padding-left: 10px;
}

.contact {
    padding-top: 20px;
    text-align: center;
}

.clearBoth {
    clear: both;
}

#resume h4 {
    text-align: right;
}

#resume h3 {
    padding-left: 30px;
}

#resume p {
    text-align: left;
    font-family: 'Roboto';
}


#printButton {
   float: right;
   margin-right: 30px;
   font-size: 1em;
   margin-top: 8px;
}

.resumePage dt {
    font-family: helvetica;
    margin-top: 20px;
}


.resumePage dd {
    font-family: 'Roboto';
}

.resumePage .removeMargin {
    margin-top: 0;
}

#resume_margin {
    margin-left: 400px;
    margin-right: 400px;
}

#resume hr {
    margin-top: 0;
}

#resume.row {
    text-align: center;
}

.test {
    padding-right: 0px;
    padding-left: 0px;
}




#contact_list ul:after {
  clear: both;
  display: block;
  content: "";
  text-align: center;
  position: relative;
}

#contact_list {
    font-size: 1.5em;
}

#contact_list span  {
    text-align: center;
}

#resume section {
    padding: 30px;

}

#formattingContactSection {
    position: relative;
    text-align: center;
    font-size: 1.4em;
}



#moveUp {
    padding-bottom: 100px;
}

#giveMeSpace {
    padding-left: 10%; 
    padding-right: 10%;
}

.word {
    z-index: 20;
    white-space: nowrap;
}

#word1 {
   margin: 20px;
}

.nowrap {
    white-space: nowrap;
}

.references {
    float: left;
    margin-top: 100px;
}

.center {
    text-align: center;
}



/*====================FORMATTING FOR PORTFOLIO PAGE======================*/

.portfolioPage .projectTitle {
    text-align: center;
    padding-top: 0;
    margin-top: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.portfolioCenter {
    text-align: center;
    display: block;
    margin-left: 400px;
}




/*==================ANIMATION FOR "WELCOME"========================*/

/* W span */
span.word:hover > #w {
        position: relative;
    display: inline-block;
    -webkit-animation: w_move 1s;
}
@-webkit-keyframes w_move {
    0%   {right: 0px; top: 0px;}
    50% {right: 100px; top: 10px; -webkit-transform: rotate(300deg);}
    100% {right: 0px; top: 0;}
}

/* e span */
span.word:hover > #e {
        position: relative;
    display: inline-block;
    -webkit-animation: e_move 1s;
}
@-webkit-keyframes e_move {
    0%   {right: 0px; bottom: 0px;}
    50% {right: 80px; bottom: 50px; -webkit-transform: rotate(130deg);}
    100% {right: 0px; bottom: 0;}
}

/* l span */
span.word:hover > #l {
        position: relative;
    display: inline-block;
    -webkit-animation: l_move 1s;
}
@-webkit-keyframes l_move {
    0%   {left: 0px; top: 0px;}
    50% {left: 10px; top: 100px; -webkit-transform: rotate(160deg);}
    100% {left: 0px; top: 0;}
}

/* c span */
span.word:hover > #c {
        position: relative;
    display: inline-block;
    -webkit-animation: c_move 1s;
}
@-webkit-keyframes c_move {
    0%   {left: 0px; bottom: 0px;}
    50% {left: 74px; bottom: 60px; -webkit-transform: rotate(136deg);}
    100% {left: 0px; bottom: 0;}
}

/* o span */

span.word:hover > #o {
        position: relative;
    display: inline-block;
    -webkit-animation: o_move 1s;
}
@-webkit-keyframes o_move {
    0%   {left: 0px; bottom: 0px;}
    50% {left: 100px; bottom: 60px; -webkit-transform: rotate(160deg);}
    100% {left: 0px; bottom: 0;}
}

/* m span */
span.word:hover > #m {
        position: relative;
    display: inline-block;
    -webkit-animation: m_move 1s;
}
@-webkit-keyframes m_move {
    0%   {left: 0px; top: 0px;}
    50% {left: 50px; top: 50px; -webkit-transform: rotate(360deg);}
    100% {left: 0px; top: 0;}
}

/* e span */
span.word:hover > #etwo {
        position: relative;
    display: inline-block;
    -webkit-animation: etwo_move 1s;
}
@-webkit-keyframes etwo_move {
    0%   {left: 0px; top: 0px;}
    50% {left: 100px; top: 20px; -webkit-transform: rotate(136deg);}
    100% {left: 0px; top: 0;}
}


/*==================SOCIAL LINK CSS========================*/



/*=========================
  Icons
 ================= */

/* footer social icons */




ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}



ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoGithub:hover {
    background-color: #6cc644;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoGithub:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 40px;
    height: 40px;
    font-size:20px;
    top: 8px;
}
.social-circle li i {
    margin:0;
    line-height:40px;
    text-align: center;
}

.social-circle li i.fa-github {
    margin:0;
    line-height:40px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.colorthing a {
 background-color: #D3D3D3;   
}

@media screen and (max-width: 768px) {
    main {
        overflow: visible;
        background-color: honeydew;
        padding-top: 20px;
    }
    #portraitDiv {
        width: 100%;
    }
    #welcomePage {
        font-size: 1em;
    }

    #welcomePage #expand {
        font-size: 14px;
    }
    .quote1 {
        padding-top: 50px;
        font-size: 2em;
        padding-bottom: 50px;
    }
    .quote2 {
        font-size: 2em;
    }
    .contentWelcome {
        position: static;
        border-radius: 0;
        background-color: honeydew;
        margin: 0;
        padding: 40px 0 40px 0;
        height: 100%;

    }
    .parallax__layer--deep img {
        display: none;
    }

    #piano_pic {
        position: static;
        margin-bottom: 20px;
        border-bottom: 3px black solid;
        width: 100%;
    }

    #keyboard_pic {
        position: static;
        margin: 0 0 10px 0;
        width: 100%;
    }

    .content1 {
        border-top: 3px black solid;
    }

    .content1, 
    .content2 {
        border-bottom: 3px black solid;
    }

    #demo {
        margin: 0;
    }

    #text {
        line-height: 40px;
        font-size: 1.37em;
    }

    #welcomePage #copyright {
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: times;
    height: 4em;
    line-height: 4em;
    /*top: 10px;*/
    }

}


@media screen and (max-width: 768px) {
    body.portfolioPage h1 {
        margin-top: 70px;

    }

    .placeholder_site {
        width: auto;
        height: inherit;
    }
}

@media screen and (max-width: 768px) {
    body.resumePage h1 {
        margin-top: 70px;

    }

    .resumePage h3 {
        font-size: 1.5em;
    }

    body.resumePage .content_body {
        width: 100%;
    }

    .placeholder_site {
        max-width: 300px;
        max-height: 250px;
    }
    .hover-fade {
        max-width: 300px;
        height: 250px;
    }
}



