main {
    height: 669px;
}

canvas {
    background-color: rgb(127,127,255);
}

p {
    display: inline-block;
}

h1 {
    display: inline-block; 
    float: left;
}

.startMessage {
    color: white;
    position: relative;
    bottom: 350px;
    width: 1140px;
    text-align: center;
    text-shadow: 2px 2px black;
}

.controlInfo {
    display: inline-block; 
    margin: 0 auto;
    position: relative;
    left: 240px;
    top: 15px;
}

